In [1]:
import yfinance as yf
import matplotlib.pyplot as plt

In [5]:
data= yf.download('HDFC', start= '2015-05-20', end= '2020-08-25')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HDFC: No data found, symbol may be delisted

In [4]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-05-19,130.690002,130.880005,129.639999,130.070007,119.657898,44633200
2015-05-20,130.000000,130.979996,129.339996,130.059998,119.648712,36454900
2015-05-21,130.070007,131.630005,129.830002,131.389999,120.872238,39730400
2015-05-22,131.600006,132.970001,131.399994,132.539993,121.930191,45596000
2015-05-26,132.600006,132.910004,129.119995,129.619995,119.243912,70697600
...,...,...,...,...,...,...
2020-08-18,457.410004,464.000000,456.029999,462.250000,462.250000,26408400
2020-08-19,463.929993,468.649994,462.440002,462.829987,462.829987,36384500
2020-08-20,463.000000,473.570007,462.929993,473.100006,473.100006,31726800
2020-08-21,477.049988,499.470001,477.000000,497.480011,497.480011,84513700
2020-08-24,514.789978,515.140015,495.750000,503.429993,503.429993,86326400